@import "node_modules/bootstrap/scss/functions.scss";
@import "src/styles/custom_variables.scss";
@import "src/styles/custom_bootstrap.scss";

// your global styles

body {
  padding: 0;
}

p.foo {
  color: blue;
  display: flex;
}
